﻿@using System.Net.Http;
@model System.Web.Http.Description.IApiExplorer

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Web API</h1>
        </div>
        <div class="panel-body">
            <p>Hi there!</p>
            <p>Let's begin!</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Users</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>HTTP Method</th>
                <th>Behavior</th>
            </tr>
            </thead>
                
            <tbody>
            @foreach (var api in Model.ApiDescriptions) {
                <tr>
                    <td><code>@api.HttpMethod&nbsp;@api.RelativePath</code></td>
                    <td>
                        <p>@api.Documentation</p>
                        @foreach (var parameter in api.ParameterDescriptions) {
                            <p>@string.Format("Parameter: {0} - {1}", parameter.Name, parameter.Source)</p>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>